.header {
    padding: 2rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.tagline {
    color: var(--primary);
    font-size: 0.8em;
}

.nav {
    display: flex;
    gap: 1.5rem;
}

.nav a:hover {
    color: var(--primary);
}