.header {
    padding: 2rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logoLink {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.nav {
    display: flex;
    gap: 1.5rem;
}

.nav a:hover {
    color: var(--primary);
}