.section {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem 3rem;
  width: 100%;
  box-sizing: border-box;
}

@media (max-width: 640px) {
  .container {
    padding: 1rem 1.25rem;
  }
}
